# Problem Set 2 - Solution

# Question 1

In [8]:
a = 0          # func has a global scope
def b():       # b has a global scope 
  global a     # 
  a = c(a)     # first call=0+2; second call=2+2; third call=4+2
def c(a):      #
  return a + 2 #  

b()            # the first call return 2, the c(a) update the value to a=2
b()            # the second call return 4, the c(a) update the value to a=4
b()            # the second call return 6, the c(a) update the value to a=6
print('a is :{}'.format(a))  # global a is changed from the 3 calls in result=6

a is :6

# Question 2

In [46]:
#if Im considering that the file midterm.py result is 284.

def fileLength(filename):
    file = open(filename)
    contents = file.read()
    file.close()
print(284)

284

In [47]:
filename='idterm.py'
try:
        fileLength(filename)
except:
        print("File {} not found", format(filename))

File {} not found idterm.py

# Question 3
First part of question 3

In [11]:
class Marsupial:                  #Create a class named Marsupial
    def __init__(self):      
         self.lst=[]              #Create an empty list in the init method
    def put_in_pouch(self,pouch): #Create a method to add the elements
        self.lst.append(pouch)
    def pouch_contents(self):
        return self.lst           #Return the list
m = Marsupial() 
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

Second part of question 3

In [29]:
class Marsupial:
    def __init__(self):
         self.lst=[]   
    def put_in_pouch(self,pouch):
        self.lst.append(pouch)
    def pouch_contents(self):
        return self.lst  
m = Marsupial() 
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

class Kangaroo(Marsupial):      #make Kangaroo super class of Marsupial
    def __init__(self,x,y):      
        Marsupial.__init__(self)#extends the __init__constructor to take x,y of the Kangaroo object
        self.x=x
        self.y=y
        
    def jump (self,dx,dy):      #supports method jump
        self.x+=dx
        self.y+=dy
    def __str__ (self):         #overloads the __str__ operator and return the statement of result
        return 'I am a Kangaroo located at coordinates({}, {})'.format(self.x, self.y)

k = Kangaroo(0,0)
print(k) # call first statement of empty list
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k) # call the statement after jump

I am a Kangaroo located at coordinates(0, 0)
I am a Kangaroo located at coordinates(3, 0)

# Question 4

In [41]:
def collatz(x):
    print(x)
    if (x==1):
        print("")
    else:
        if (x%2==0):
                x=x//2
                collatz(x)
        else:
            x=3*x+1
            collatz(x)

collatz(1)
collatz(10)

1

10
5
16
8
4
2
1

# Question 5

In [114]:
#To Convert the Decimal number in binary must divide for 2 and calclulate the remain part

def Binary(n):
        if n ==0:
            return 0
        else:
            Binary(n//2)
            print(n % 2,end='')
            
            
Binary(0)

0

In [115]:
Binary(1)

1

In [116]:
Binary(3)

11

In [117]:
Binary(9)

1001

# Question 6

In [21]:
from urllib.request import urlopen
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
        
    def __init__(self):
        HTMLParser.__init__(self)
        self.intent = 0
        self.h_I=False
        self.c_i=[]
    def handle_starttag(self, tag, attrs):
        if tag=="h1" or tag=="h2":
            print('{}{} start'.format(self.intent*'',tag))
            self.intent+=4
    def handle_data(self,data):
        if self.h_I==True:
            self.c_l.append(data)
    def handle_endtag(self, tag):
        if tag=="h1" or tag=="h2":
            self.h_I=False
            print('{}{} end'.format(self.intent*'',tag))
    def getheadings(self):
        return self.c_l

In [22]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

# Question 7

In [27]:
def frequency(itemList):
    counters = {}
    for item in itemList:
        if item in counters: # increment item counter
            counters[item] += 1
        else: # create item counter
            counters[item] = 1
    return counters

In [28]:
visited = set() 

def webdir(url):

    global visited    
    visited.add(url)

    links = analyze(url)

    for link in links:
        if link not in visited:
            try:
                crawl2(link)
            except:
                pass

In [29]:
from urllib.request import urlopen
from urllib.parse import urljoin

from html.parser import HTMLParser

def analyze(url):
    
    print('\n\nwebdir', url)          

    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()         

    content = re.sub( r'<[^>]*>', ' ', content ).strip()
    freq = frequency(content.split(" "))

    print('\n{:45} {:10} {:5}'.format('URL', 'word', 'count'))
    for word in freq:
        print('{:45} {:10} {:5}'.format(url, word, freq[word]))

    print('\n{:45} {:10}'.format('URL', 'link'))
    for link in urls:
        print('{:45} {:10}'.format(url, link))

    return urls

In [26]:
webdir('http://reed.cs.depaul.edu/lperkovic/one.html')

webdir http://reed.cs.depaul.edu/lperkovic/one.html

NameError: name 'Collector' is not defined

# Question 8

In [4]:
import sqlite3
con = sqlite3.connect('web_2.db')
cur = con.cursor()
cur.execute("CREATE TABLE Keywords (City, Country, Season, Temperature, Rainfall)")
cur.execute("INSERT INTO Keywords VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
record1=('Mumbai', 'India', 'Spring', 28.4, 16.2)
record2=('Mumbai', 'India', 'Summer', 27.9 , 1549.4)
record3=('Mumbai', 'India', 'Fall', 27.6 , 346.0)
record4=('London', 'United Kingdom', 'Winter', 4.2 , 207.7)
record5=('London', 'United Kingdom', 'Spring', 8.3 , 169.6)
record6=('London', 'United Kingdom', 'Summer', 15.7 , 157.0)
record7=('London', 'United Kingdom', 'Fall', 10.4 , 218.5)
record8=('Cairo', 'Egypt', 'Winter', 13.6 , 16.5)
record9=('Cairo', 'Egypt', 'Spring', 20.7 , 6.5)
record10=('Cairo', 'Egypt', 'Summer', 27.7 , 0.1)
record11=('Cairo', 'Egypt', 'Fall', 22.2 , 4.5)

cur.execute("INSERT INTO Keywords VALUES (?, ?, ?, ?, ?)",record1)
cur.execute("INSERT INTO Keywords VALUES (?, ?, ?, ?, ?)",record2)
cur.execute("INSERT INTO Keywords VALUES (?, ?, ?, ?, ?)",record3)
cur.execute("INSERT INTO Keywords VALUES (?, ?, ?, ?, ?)",record4)
cur.execute("INSERT INTO Keywords VALUES (?, ?, ?, ?, ?)",record5)
cur.execute("INSERT INTO Keywords VALUES (?, ?, ?, ?, ?)",record6)
cur.execute("INSERT INTO Keywords VALUES (?, ?, ?, ?, ?)",record7)
cur.execute("INSERT INTO Keywords VALUES (?, ?, ?, ?, ?)",record8)
cur.execute("INSERT INTO Keywords VALUES (?, ?, ?, ?, ?)",record9)
cur.execute("INSERT INTO Keywords VALUES (?, ?, ?, ?, ?)",record10)
cur.execute("INSERT INTO Keywords VALUES (?, ?, ?, ?, ?)",record11)

#A-All the temperature data
cur.execute('SELECT Temperature FROM Keywords')
cur.fetchall()
con.commit()
con.close()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [5]:
#B-All the cities, but without repetition.
cur.execute('SELECT DISTINCT City FROM Keywords')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [6]:
#D-All the Fall records.
cur.execute('SELECT * FROM Keywords WHERE Season="Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [7]:
#E-The city, country, and season for which the average rainfall is between 200 and 400 millimeters
#Create a subquery to support the AVG calc
cur.execute('SELECT City, Country, Season FROM Keywords GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 and 400')
cur.fetchall()

[('London', 'United Kingdom', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('Mumbai', 'India', 'Fall')]

In [44]:
#F-The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
#We cand measure the average Fall temperature since for each country we have the temperature/season only one time.
#in this case avg(temperature) and Temperature of Fall Season is the same.

#1 Show only the city and country that have Fall temperature>20

cur.execute('SELECT City, Country, AVG(Temperature) as TEMP FROM Keywords GROUP BY City, Country HAVING TEMP>20 and Season=("Fall") ORDER BY TEMP')
cur.fetchall()
# Show the same result as 1(execution of problem)
cur.execute('SELECT City, Country FROM Keywords WHERE Temperature>20 and Season=("Fall") ORDER BY Temperature')
cur.fetchall()
# if we want the average temperature>20 non considering the season will be:
cur.execute('SELECT City, Country,   FROM Keywords WHERE Temperature>20 ORDER BY Temperature')
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [10]:
#G-The total annual rainfall for Cairo.
cur.execute('SELECT SUM(Rainfall) FROM Keywords WHERE City="Cairo"')
cur.fetchall()

[(27.6,)]

In [11]:
#H-The total rainfall for each season.
cur.execute('SELECT SUM(Rainfall) FROM Keywords GROUP BY Season')
cur.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

# Question 9

In [55]:
 words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
    
#A

[word.upper() for word in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [225]:
#B
[word.lower() for word in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [71]:
#C
[len(words) for words in ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [82]:
#D 
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
newList=[]
for word in words:
    newList.append(word.upper())
    newList.append(word.lower())
    newList.append(len(word))

print(newList)

['THE', 'the', 3, 'QUICK', 'quick', 5, 'BROWN', 'brown', 5, 'FOX', 'fox', 3, 'JUMPS', 'jumps', 5, 'OVER', 'over', 4, 'THE', 'the', 3, 'LAZY', 'lazy', 4, 'DOG', 'dog', 3]

In [31]:
#E the list of words in list words containing 4 or more characters
words=['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
newList = [i for i in words if len(i) >= 4]
newList

['quick', 'brown', 'jumps', 'over', 'lazy']

In [32]:
#E1 to how the result as the Problem set 2 we must require list words with 3 ore more characters
words=['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
newList = [i for i in words if len(i) >= 3]
newList

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']